body {
    background-image: url("images/paper-background.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}


#content {
    text-align: center; 
    line-height: 1.75; 
    word-spacing: 0.4 em; 
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#white-box {
    background: rgba(255,255,255,0.6); 
    padding: 1em; 
}

#blurb {
    text-align: justify; 
}

#penny-button {
    height : 300px; 
}

#penny-gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#penny-gallery-images img {
    margin: 5px;
    max-height: 200px;
    max-width: 200px;
}

#penny-gallery-images img:hover {
    border: thick solid black;
}